.config {
  display: flex;
  justify-content: space-around;
  padding-top: 100px;
  
  &_form {
    width: 55%;
    padding-top: 50px;
    border-radius: 10px;
    background-color: #484949;
  }

  &_input {
    justify-content: space-around;
    display: flex;
    margin: 10px 10px;
    margin-bottom: 30px;
  }
}
