.progress {
  width: 80%;
  font-size: 14px;
  font-family: "Montserrat", sans-serif;
  position: relative;
  overflow: hidden;
  &-bar {
    overflow: hidden;
    background: rgb(216, 216, 216);
    width: 0;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    transition: width 1s linear;
    &:after {
      background-color: #1b381c;
      background-size: 40px 40px;
      position: absolute;
      content: "";
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      animation: progress_bar 0.8s linear infinite;
    }
  }
  &_other {
    width: 400px;
  }
  &-value {
    color: #333;
    display: block;
    line-height: 21px;
    text-align: center;
  }
  &-bg {
    background: rgb(233, 233, 233);
    position: relative;
    height: 8px;
    border-radius: 5px;
    overflow: hidden;
  }
}

.progress progress {
  position: absolute;
  width: 0;
  height: 0;
  overflow: hidden;
  left: -777px;
}

@for $i from 0 through 100 {
  .progress progress[value="#{$i}"] {
    & + .progress-value:before {
      content: "#{$i}%";
    }
    & ~ .progress-bg .progress-bar {
      width: $i * 1%;
    }
  }
}

.statistic {
  display: flex;
  justify-content: center;
  &_other {
    display: flex;
    flex-wrap: wrap;
    width: 25%;
    height: 100px;
    align-items: center;
    margin: 0 auto;
  }
  &_footer {
    margin-top: 10%;
    display: flex;
    justify-content: space-around;
  }
}

.text {
  font-family: "Montserrat", sans-serif;
  color: #1b381c;
  margin: 0 auto;
  width: 600px;
  text-align: center;
  font-size: 64px;
  letter-spacing: 3px;
  font-weight: bold;
  margin-bottom: 50px;
  &__small {
    width: 300px;
    font-size: 14px;
    margin-top: 2%;
  }
  &__first {
    margin-top: 1%;
    font-size: 20px;
    width: 350px;
  }
}
.out_statistic {
  margin-top: 7%;
}
